name: bump

on:
    push:
        paths:
            - 'package.json'
        branches: [main]
    workflow_dispatch:

jobs:
    publish-client:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  registry-url: 'https://registry.npmjs.org'
                  node-version: "18.x"
            - run: yarn
            - run: yarn build
            - run: npm publish --access=public
              working-directory: .
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
